#board {
    text-align: center;
    padding-top: 3em;
}

div :not(#board) :not(.row) {
    float: left;
    height: 100px;
    width: 100px;
    cursor: grab;
}
div .row {
    clear: both;
    width: 302px;
    margin: 0 auto
}

.top {
    border-bottom: 1px black solid;
}
.bottom {
    border-top: 1px black solid;
}
.left {
    border-right: 1px black solid;
}
.right {
    border-left: 1px black solid;
}